<a href="https://colab.research.google.com/github/tolibovdilshodbek/week1lab/blob/main/Week%201%20Promlems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1 week 1

In [ ]:
scores = [72, 85, 90, 68, 88]
print("Scores:", scores)


average = sum(scores) / len(scores)
print("Average score:", average)


print("Highest score:", max(scores))
print("Lowest score:", min(scores))

Scores: [72, 85, 90, 68, 88]
Average score: 80.6
Highest score: 90
Lowest score: 68

# Problem 2 week 1

In [1]:
study_hours = [1, 2, 3, 4, 5]
exam_scores = [50, 55, 65, 70, 80]


print("\nStudy Hours and Exam Scores:")
for hours, score in zip(study_hours, exam_scores):
    print(hours, score)


print("\nInput → Output:")
for hours, score in zip(study_hours, exam_scores):
    print(f"Input: {hours} hours → Output: {score} marks")

Study Hours and Exam Scores:
1 50
2 55
3 65
4 70
5 80

Input → Output:
Input: 1 hours → Output: 50 marks
Input: 2 hours → Output: 55 marks
Input: 3 hours → Output: 65 marks
Input: 4 hours → Output: 70 marks
Input: 5 hours → Output: 80 marks

# Problem 3 week 1

In [9]:
scores = [45, 67, 82, 59]

def pass_fail(score):
    if score >= 60:
        return "Pass"
    else:
        return "Fail"

print("Highest score:", max(scores))
print("Percentage:", sum(scores) / len(scores))

for score in scores:
    print("Score:", score, "->", pass_fail(score))

Highest score: 82
Percentage: 63.25
Score: 45 -> Fail
Score: 67 -> Pass
Score: 82 -> Pass
Score: 59 -> Fail

# Problem 4 week 1

In [10]:
sizes = [500, 800, 1000, 1200]
prices = [50, 80, 100, 130]

for i in range(len(sizes)):
    print("Size:", sizes[i], "-> Price:", prices[i])

positive_trend = True

for i in range(len(prices) - 1):
    if prices[i] >= prices[i + 1]:
        positive_trend = False
        break

if positive_trend:
    print("Positive trend")

Size: 500 -> Price: 50
Size: 800 -> Price: 80
Size: 1000 -> Price: 100
Size: 1200 -> Price: 130
Positive trend

# Problem 5 week 1

In [11]:
study_hours = [2, 4, 6, 8]
scores = [55, 65, 75, 85]

average_increase = 10
predicted_score = scores[-1] + average_increase

print(predicted_score)

95

# Problem 6 week 1

In [12]:
scores = [35, 58, 62, 74, 89, 45]

for score in scores:
    if score < 50:
        category = "Low"
    elif score <= 70:
        category = "Medium"
    else:
        category = "High"

    print(f"Score: {score}, Category: {category}")

Score: 35, Category: Low
Score: 58, Category: Medium
Score: 62, Category: Medium
Score: 74, Category: High
Score: 89, Category: High
Score: 45, Category: Low

# Problem 7 week 1

In [14]:
ages = [18, 20, 22, 24, 26]
heights = [160, 165, 170, 175, 180]

for age, height in zip(ages, heights):
    print(f"Age: {age}, Height: {height}")

average_age = sum(ages) / len(ages)
print("Average age:", average_age)

average_height = sum(heights) / len(heights)
print("Average height:", average_height)

print("Height appears to increase as age increases in this dataset.")

Age: 18, Height: 160
Age: 20, Height: 165
Age: 22, Height: 170
Age: 24, Height: 175
Age: 26, Height: 180
Average age: 22.0
Average height: 170.0
Height appears to increase as age increases in this dataset.